$font-main: 'Quicksand', sans-serif;
$font-tertiary: 'Nunito Sans', sans-serif;
$primary: #113F96;
$secondary: #43B1B3;
$tertiary: #CCA243;

h1 {
  font-family: $font-main;
  font-weight: 700;
  color: $secondary;
  }

h2 {
  font-family: $font-main;
  font-weight: 500;
  color: $secondary;
  padding-top: 20px;
}

p {
  font-family: $font-tertiary;
  font-weight: 500;
  font-size: 1.2em;
  padding-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 10px;
}

.mobile {
  display: none;
}

/* HOME HEADER BASE */

.home-header {
  background-image: url('../assets/img/header-bg.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 90%;

  .btn {
    padding-top: 15px;
  }

  .arrow-1 {
    margin-top: 25px;
    margin-left: 150px;
  }

  .logo {
    height: 45px;
    width: 355px;
    margin-top: 55px;
    margin-left: -15px;
    display: inline;
    }

  .temp {
    margin-top: 60px;
    color: $primary;
    vertical-align: middle;
    text-align: right;
    font-size: 200%;
    font-family: $font-main;
    margin-right: 150px;
    font-weight: 700;
    }

  .head-text {
    margin-top: 40px;
    width: 80%;
    color: $secondary;
    font-family: $font-main;
    text-align: left;
    font-size: 2.2em;
    font-weight: 700;
  }

  .header-image {
    margin-left: -130px;
    margin-top: 10px;
    width: 100%;

  }

  .btn {
    height: 60px;
    width: 278px;
    margin-top: 36px;
    background: #E33B63 0% 0% no-repeat padding-box;
    border-radius: 14px;
    border-color: #E33B63;
    font-family: $font-main;
    font-style: bold;
    font-size: 1em;
  }

}

/* CHOICE BASE */
.choice {

  margin-top: 50px;


 img {
  margin-top: 10px;
  margin-left: 5px;
  width: 100%;
  margin-bottom: 20px;
}

}

/* MISSION BASE */

.mission {

  margin-top: 50px;
  padding-bottom: 0px;

  .mission-bkg {

  position: absolute;
  top: 100;
  left: 30px;
  width: 65%;
  height: 50%
  }

  .front {
    position: relative;
  }

 img {
  width: 100%;


  }

  h1 {
    color: $tertiary;
  }

  h2 {
    color: $tertiary;
  }



}


/* STEPS BASE */

.steps {

  margin-top: 50px;

 img {
  width: 100%;
  float: right;

}

}


/* FOOTER BASE */

.footer {

  img {
    width: 100%;
    height: 65%;
  }

  a {
  color: #fff;
  }


  background: #3269AE;
  padding: 50px;

  h1 {
    color: #fff;
    margin-top: 20px;
  }

  ul {
    color: #fff;
  }
}

/* HOME HEADER RESPONSIVE RULES */

@media screen and (max-width: 1198px) {

.home-header {
  background-image: url('../assets/img/header-bg.svg');
  margin-top: 10px;


  .temp {
    font-size: 1.5em;

  }

  .head-text {

    font-size: 1.8em;
  }

  .arrow-1 {
    display: none;
  }
  .btn {
    display: none;
  }
}
}

@media screen and (max-width: 1091px) {

  .home-header {
    .logo {
      margin-top: 10px;
    }
    .temp {

    }
  }
}
@media screen and (max-width: 991px) {

.home-header {
  .mob-logo {
    margin-top: 15px;
  }
  .temp {
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 15px;
  }

  .header-image {
    margin-left: -100px;
  }

  .btn {
    display: none;
  }
}
}

@media screen and (max-width: 770px) {

  .mobile {
    display: block;
  }

  .desktop {
      display: none;
  }

  .mission {

    .mobile {
      display: inline-block;
    }
    .mission-bkg {
      position: absolute;
      top: 120;
      left: 30px;
      height: 65%;
      width: 100%
      }
    }


  .temp {
    text-align: right;
    display: inline;
    margin-right: 0px;
  }

.home-header {
  .header-image {
    margin-left: 5px;
  }

  .head-text {
    margin-left: 20px;
    text-align: center;
  }

  .btn {
    display: none;
  }
}
}
@media screen and (max-width: 521px) {

  .mobile {
      display: block;
  }

  .desktop {
      display: none;
  }

  .home-header {

    .jumbo {
      text-align: center;
    }
    .temp {
      font-size: 1.2em;
    }
    .head-text {
      margin-left: 30px;
      margin-top: 15px;
      font-size: 28px;
      text-align: center;
    }

    .btn {
      margin-top: 0px;
      height: 45px;
      width: 75%;
      font-size: 1em;
    }
    .header-image {
      margin-top: 10px;
      margin-left: 5px;
      width: 100%w;
    }

  }

}

@media screen and (max-width: 320px) {

  .home-header {

    .temp {
      margin-left: 15px;
      font-size: 1em;
    }
  }
}
